ion-title{
    text-align: left;
}
ion-back-button {
    color: #fff;
}
.no-padding{
    padding:0px;
}
ion-toolbar {
    --background: none!important;
}
.text_lebal{
    margin-top: 20px;
    font-size: 22px;
}
.text_forgot{
    font-size: 15px;
    color: #5a5a5a;
}
.abs_icon{
    position: absolute;
    top: 0px;
    left: 2%;
}
.abs_icon > img{
    width:18px;
}
.form_container{
    border-bottom: 1px solid #22bddf;
    width: 86%;
    position:relative;
    margin: 35px auto 0px auto;
}
.form_container > ion-label{
    padding-left: 13%;
}
.form_container > ion-label::after{
    content:"*";
    color: red;
    margin-left: 3px;
}
.form_container ion-input , .form_container ion-textarea{
    width: 90%;
    margin: 0 0 0 auto;
    // border-bottom: 1px solid #ccc;
    font-size:12px;
    --padding-top: 8px;
    --padding-bottom: 8px;
}
.form_container ion-button{
    font-weight: 300;
    width: 80%;
    box-shadow: 0px 4px 8px 1px #fed19c;
    border-radius: 30px;
    --background: #fd8900;
    --background-activated: #fd8900;
    margin-top: 30px;
}
.error_cls{
    color: red;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 45px;
}
.sign_in_button{
    text-align:center;
}
.sign_in_button > button{
    font-weight: 300;
    width: 90%;
    margin: 70px 20px;
    padding:15px;
    color:#fff;
    border-radius: 30px;
    background-image: linear-gradient( 90deg, rgb(49,203,237) 0%, rgb(57,180,73) 100%);
    background-image: -moz-linear-gradient( 0deg, rgb(49,203,237) 0%, rgb(57,180,73) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(49,203,237) 0%, rgb(57,180,73) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(49,203,237) 0%, rgb(57,180,73) 100%);
    box-shadow: 0px 9px 18.27px 2.73px rgba(0, 0, 0, 0.19);
}
.sign_in_button > button:focus{
    outline:none;
}
.sign_in_button > button[disabled]{
    background-image: linear-gradient(90deg, rgba(49, 203, 237, 0.48) 0%, rgba(57, 180, 73, 0.48) 100%);
}
.error2{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    color: red;
}