<ion-content>
	<ion-toolbar>
		<div class="back_btn">
		  <span (click)="forgotPasswordPage()"><img src="assets/images/icon/back-button.png"></span>
		</div>
	  </ion-toolbar>
	<form novalidate (ngSubmit)="changePass(form_reset)" [formGroup]="changePassword">
	<ion-grid class="no-padding">
		<ion-row no-padding>
			<ion-col no-padding>
				<div class="text_lebal" style="text-align: center;">
					<p>Reset Password</p>
				</div>
				<div class="form_container">
					<!-- <ion-label position="stacked">Enter Your New Password</ion-label> -->
					<div class="abs_icon"><img src="assets/images/sidemenu/icon/password.png"></div>
					<ion-input id="pass1" (keyup)="clickInput()" no-padding  placeholder="New Password" type="password" required [(ngModel)]="change_pw.new_password" formControlName="new_password" [class.error1]="!changePassword.controls.new_password.valid && changePassword.controls.new_password.dirty"></ion-input>
				</div>
				<div class="error_cls" *ngIf="( changePassword.get('new_password').hasError('minlength') || changePassword.get('new_password').hasError('maxlength') ||changePassword.get('new_password').hasError('required') ) && changePassword.get('new_password').touched">
					<div class="error" *ngIf="changePassword.get('new_password').hasError('required') && changePassword.get('new_password').touched">
						Please enter valid New Password.
					</div>
					<div class="error" *ngIf="changePassword.get('new_password').hasError('minlength') && changePassword.get('new_password').touched">
						Ateast minimum 6 character required.
					</div>
					<div class="error" *ngIf="changePassword.get('new_password').hasError('maxlength') && changePassword.get('new_password').touched">
						Maximum 20 characters.
					</div>
				</div>
				<div class="form_container">
					<!-- <ion-label position="stacked">Confirm Your New Password</ion-label> -->
					<ion-input id="pass2" (keyup)="clickInput()" no-padding Equalvalidate="change_pw.new_password" placeholder="Confirm Password" type="password" required [(ngModel)]="change_pw.comf_password" formControlName="comf_password" [class.error1]="!changePassword.controls.comf_password.valid && changePassword.controls.comf_password.dirty"></ion-input>
					<div class="abs_icon"><img src="assets/images/sidemenu/icon/password.png"></div>
				</div>
				<div class="error_cls" *ngIf="( changePassword.get('comf_password').hasError('minlength') || changePassword.get('comf_password').hasError('maxlength') ||changePassword.get('comf_password').hasError('required') ) && changePassword.get('comf_password').touched">
					<div class="error" *ngIf="changePassword.get('comf_password').hasError('required') && changePassword.get('comf_password').touched">
						 Please enter valid Confirm Password.
					</div>
					<div class="error" *ngIf="changePassword.get('comf_password').hasError('minlength') && changePassword.get('comf_password').touched">
						Ateast minimum 6 character required.
					</div>
					<div class="error" *ngIf="changePassword.get('comf_password').hasError('maxlength') && changePassword.get('comf_password').touched">
						Maximum 20 characters/
					</div>
				</div>
				<div *ngIf="errorHideShow" class="error2">
					<span>Confirm Password does not match the New Password .</span>
				</div>
				<div class="sign_in_button">
					<button shape="round" [disabled]="changePassword.invalid" type="submit">Submit</button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	</form>
</ion-content>