.search_icon_container img {
    width: 18px;
    position: relative;
    left: -5px;
}
a.search_icon {
    padding: 0px 6px;
}
#cart-badge {
    height: 16px;
    position: absolute;
    top: -2px;
    right: 3px;
    width: 16px;
    font-size: 10px;
    padding: 4px 6px;
    line-height: 9px;
    border-radius: 50%;
    background: #39b449;
    font-size: 10px;
}
ion-title{
    text-align: left;
}
.main_container{
    width: 100%;
    padding-bottom: 12px;
}
.text_container{
    // width: 75%;
    display: inline-block;
    font-size: 13px;
    line-height: 1.6 !important;
}
.text_container span{
    color: #9a9999;
}
.text_container_society{
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}
.text_container_society ion-select{
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    width: 100%;
    border: solid 1px #22bddf;
    border-radius: 15px;
}

/////////////

.btn_container_active{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.text_container_society ion-datetime{
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    width: 100%;
    border: solid 1px #22bddf;
    border-radius: 15px;
}
.btn_container_active>input{
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    outline: none;
    width: 90%;
    float: right;
    border: solid 1px #22bddf;
    border-radius: 15px;
}

.my-class{
    width: 70%!important;
}
.my-class2{
    width: 100%!important;
}
///////////////////

.btn_container_active{
    display: inline-block;
    width: 30%;
    font-size: 10px;
    vertical-align: middle;
    // float: right;

}
.btn_container_active ion-select{
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    width: 90%;
    float: right;
    border: solid 1px #22bddf;
    border-radius: 15px;
}
.main_container_text{
   padding: 0 0 0 5px;
   margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 8px 10px 0px #f1eded;
    border-left-color: 0deg, #39b449 0%, #31cbed 100%;
    background: linear-gradient(to bottom, #39b449 , #31cbed );
    line-height: 0px;
}
ion-row{
    padding: 10px 10px 10px 10px;
}
.left_line{
    text-transform: capitalize;
    padding: 12px 10px 10px 20px;
    background-color: white;
}
.btn_container_active div:nth-child(1){
    display: inline-block;
    width: 50%;
}
.btn_container_active div div{
    border: solid 1px #ccc;
    padding: 3px;
    color: #b1afaf;
    width: 90%;
    border-radius: 4px;
}
.btn_container_active div div span{
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}
.btn_container_active div div i{
    display: inline-block;
    width: 20%;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12px
}
.btn_container_active div:nth-child(1) div{
    color: #06a006;
    border-left: 2px solid #06a006;
}
.btn_container_active div:nth-child(2){
    display: inline-block;
    width: 50%;
}
// .edit_button{
//     position: fixed;
//     bottom: 10px;
//     right: 10px;
//     float: right;
//     padding: 10px;
//     width: 50px;
//     font-size: 20px;
//     height: 50px;
//     text-align: center;
//     border-radius: 25px;
//     background-image: linear-gradient(90deg, #31cbed 0%, #39b449 100%);
//     color: white;
//     margin: 0 10px 10px 0px;
// }
.plus_icon{
    margin-left: 9px;
    color: #22bddf;
    vertical-align: sub;
}
.edit_button_2{
    text-align: center;
    border-radius: 25px;
    color: #31cbed;
    font-size: 14px;
}
.data_not_found{
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
}
.custom-modal_main{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0, 0.4);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    opacity: 1;
    visibility: visible;
    transition: all ease-in-out 0.35s;
    .popup-box{
        width: 90%;
        background: #fff;
        border-radius: 10px;
        .popup-header{
            position: relative;
            padding: 10px;
            text-align:center;
            p{
                margin: 0;
                font-size: 18px;
                font-weight: 600;
                margin-top: 22px;
            }
            a{
                position: absolute;
                right: 4px;
                top: 30%;
                transform: translateY(-50%);
                font-size: 2em;
                line-height: 0;
            }
        }
        .popup-body{
            padding: 10px 20px 10px 20px;
            ion-item{
                --padding-start: 0;
                --border-color: #fff;
                border: 1px solid #2dcdda;
                margin-bottom: 15px;
                border-radius: 5px;
                overflow: hidden;
                ion-select{
                    width: 100%;
                    max-width: 100%;
                }
                ion-textarea{
                    --padding-start: 10px;
                    --padding-top: 2px;
                    margin-top: 5px;
                }
            }
            button.submit{
                display: block;
                margin: 20px auto 0;
                padding: 12px 44px;
                background: linear-gradient(45deg, #31cbed, #10dc60);
                border-radius: 30px;
                color: #fff;
                outline: none;
            }
        }
    }
}
