.search_icon_container img {
    width: 18px;
    position: relative;
    left: -5px;
}
a.search_icon {
    padding: 0px 6px;
}
#cart-badge {
    height: 16px;
    position: absolute;
    top: -2px;
    right: 3px;
    width: 16px;
    font-size: 10px;
    padding: 4px 6px;
    line-height: 9px;
    border-radius: 50%;
    background: #39b449;
    font-size: 10px;
}
ion-title{
    text-align: left;
}
.container{
    text-transform: capitalize;
    font-size: 14px;
    line-height: 30px;
    box-shadow: 0px 0px 8px 5px #f1eded;
    border-radius: 10px;
}
.comment_box{
    border: solid 1px #ccc;
    margin-left: 10px;
    padding: 0px 10px 0px 20px;
    margin-bottom: 10px;
    position: relative;
}
.comment_box>span{
    position: absolute;
    left: 0px;
    background: #22bddf;
    width: auto;
    color: white !important;
    padding: 0px 5px 0px 2px;
    font-size: 12px;
    border-bottom-right-radius: 20px;
}
.des{
    display: inline-block;
    // width: 25%;
    vertical-align: top;
}
.span{
    display: inline-block;
    width: 75%;
    vertical-align: top;
    line-height: 20px;
    margin-top: 5px
}
.container span{
    color: #9a9999;
    text-transform: capitalize;
}
.container div:nth-child(3) span{
    text-transform: capitalize;
}

.edit_button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    float: right;
    padding: 10px;
    width: 50px;
    font-size: 20px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    background-image: linear-gradient(90deg, #31cbed 0%, #39b449 100%);
    color: white;
    margin: 0 10px 10px 0px;
}
ion-toolbar {
    --background: #22bddf;
    border-bottom: 0;
}

.document{
    width: calc(25% - 10px);
    font-size: 18px;
    margin: 14px 5px;
    display: inline-block;
    img{
        width:70px;
        height: 70px;
    }
}
.preview{
    display: inline-block;
    width: 100%;
}

.zoom{
    position: fixed;
    top: 44px;
    padding: 50px 30px 20px 30px;
    background: #7f7f7f;
    left: 0;
    height: calc(100vh - 44px);
    overflow: hidden;
    overflow-y: auto;
}
.zoom>span{
    position: fixed;
    color: white;
    right: 6px;
    font-size: 30px;
    top: 50px;
    right: 16px;
    ion-icon{
        font-size: 40px;
    }
}