
<ion-content no-padding>
	<ion-toolbar>
		<div class="back_btn">
		  <span (click)="loginPage()"><img src="assets/images/icon/back-button.png"></span>
		</div>
	  </ion-toolbar>
	<ngx-spinner bdOpacity =0.9 size = "small" color = "#31cbed" type = "square-loader" [fullScreen] = "true"></ngx-spinner>
	<form novalidate (ngSubmit)="forgot_pass()" class="loginFormMargin" [formGroup]="signupform">
		<ion-grid>
			<ion-row>
				<ion-col no-padding style="text-align: center;margin-bottom: 18px;">
					<div class="text_lebal">
						<p>Forgot Password</p>
					</div>
					<div class="text_forgot">
						<p>Enter your email to reset your password</p>
					</div>
				</ion-col>
				<ion-col size="12" class="form_container mb-20">
					<div class="border_set">
						<input class="input1" id="emailUse" no-padding  placeholder="Email" type="text" required [(ngModel)]="forgot.email" formControlName="email" [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty" />
						<div class="abs_icon"><img src="assets/images/sidemenu/icon/password.png"></div>
					</div>
				</ion-col>
				<div class="error_cls" *ngIf="(signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
					<div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
						Please enter valid Email.
					</div>
					<div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
						Please enter a valid Email.
					</div>
				</div>
				<ion-col size="12" class="sign_in_button">
					<button shape="round" type="submit" [disabled]="signupform.invalid">Submit</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>

