ion-toolbar{
    --background: white;
}
ion-back-button{
    color: #22bddf;
}
ion-col{
    padding: 0px 15px 0px 15px;
}
.text_lebal{
    margin-top: 30px;
    font-size: 22px;
}
.text_forgot{
    font-size: 15px;
    color: #5a5a5a;
}
.form_container > ion-label{
    padding-left: 13%;
    font-size: 14px;
}
.form_container ion-input{
    width: 78%;
    margin: 0 0 0 auto;
    // border-bottom: 1px solid #ccc;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    --padding-top: 10px;
    --padding-bottom: 10px;
}
.abs_icon{
    position: absolute;
    top: 5px;
    left: 8.5%;
}
.abs_icon > img{
    width: 14px;
}
.error_cls{
    color: red;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 50px;
}
.sign_in_button{
    text-align:center;
    padding: 30px 15px 20px 15px!important;
}
.sign_in_button > button{
    font-weight: 300;
    width: 90%;
    margin: 45px 20px;
    padding:15px;
    color:#fff;
    border-radius: 30px;
    background-image: linear-gradient( 90deg, rgb(49,203,237) 0%, rgb(57,180,73) 100%);
    background-image: -moz-linear-gradient( 0deg, rgb(49,203,237) 0%, rgb(57,180,73) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(49,203,237) 0%, rgb(57,180,73) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(49,203,237) 0%, rgb(57,180,73) 100%);
    box-shadow: 0px 9px 18.27px 2.73px rgba(0, 0, 0, 0.19);
}
.sign_in_button > button:focus{
    outline:none;
}
.sign_in_button > button[disabled]{
    background-image: linear-gradient(90deg, rgba(49, 203, 237, 0.48) 0%, rgba(57, 180, 73, 0.48) 100%);
}
.border_set{
    border-bottom: 1px solid #22bddf;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.mb-20 {
     margin-bottom: 0px !important;
}
.input1{
    width: 100%;
    margin: 0 0 0 auto;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    padding-left: 49px;
    outline: none;
}


